.page {
	text-align : center;
}

.cadre {
	text-align : center;
	border-style : solid;
	border-width : 1px;
}

.formulaire {
	text-align : left;
}

img {
	height : 96px;
	width : 87px;
}

a {
	font-size : 16px;
	color : #4D9FFF;
	font-style : italic;
}