@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

.titre {
    font-family: 'Kiwi Maru', serif;
    font-size: 40px;
}
.formulaire {
    margin-right: 200px;
    margin-left: 200px; 
}
.textFormulaire {
    padding: 5px;
    margin-bottom: 5px;
}
.bordure {
    border: 1px solid black;
    border-radius: 5px;
}

header{
    padding: 5px;
    background-color : #4DD1C8;
}

footer {
    bottom : 0;
    position: absolute;
    background-color : #4DD1C8;
    
    width: 100%;
    height :auto;
    
}

.logo{
    width: 228px;
    max-width: 33%;
    min-width: 183px;
}

.contenue_droite{
    display: flex;
    justify-content: right;
}